body  {
  background: url("https://68.media.tumblr.com/b51741c63340eb3a12fde5f509cbb689/tumblr_n5jbmvB0ZI1r2inbto1_500.gif") 


}


  
	.title
{
   margin-top: -40px;
	margin-bottom: 70px;
  font-size: 70px;
	font-weight: 200;
	color: red;
	vertical-align: left;
  text-align: left;
	font-family: Impact;
}
	
  
	.container {
  background: ;
  width: 75%;
    padding: 70px;
    margin: 70px;
  text-align: center;
  color: red;
  border: 10px solid purple;
    font-family: cursive;
    font-size: 20px;
}

.hats{
  
  width: 75%;
    padding: 70px;
    margin: 70px;
  text-align: center;
  color: red;
  border: 10px solid purple;
  font-size: 25px;
}


.phil{
  width: 60%;;
  height: 500px;
  
  
}

.shoes{
  
  width: 75%;
    padding: 70px;
    margin: 70px;
  text-align: center;
  color: red;
  border: 10px solid purple;
  font-size: 25px;
}

.belts{
  
  width: 75%;
    padding: 70px;
    margin: 70px;
  text-align: center;
  color: red;
  border: 10px solid purple;
  font-size: 25px;
}



